* {
		margin: 0;
		padding: 0;
	 			-moz-transition: font-size .1s linear;
  	 -webkit-transition: font-size .1s linear;
   	      -o-transition: font-size .1s linear;
		     transition: font-size .1s linear;	
	}

	body {
 		font-family: georgia, serif;
		background-color: #f1f1f1;
		color: #666;
		margin: 20px;
		border: 1px dashed #6F6464;
		padding: 20px;
		line-height: 1.6180;
	}

	ol, ul, dl {
		margin-bottom: 20px;
	}

	#page-header {
		color: #111;
		padding-bottom: 10px;
		border-bottom: 3px solid #ccc;
	}
 

	#page-header {
		text-transform: uppercase;
	}

	.block-titles span {
		text-transform: none;
	}

	.block-titles {

		color: #222;
		padding: 20px 0;
		margin: 20px 0 0 0; 
		width: 100%;


		code {
			width: 70%;
			font-weight: 100;
			padding: 20px;
			display: block;
			color: #fff;
			background-color: #111;
			border: 1px solid #999;
			margin: 10px 0;
		}

		code span { 
			color: #CD6375;
		}

	}

	.containers {
		width: 70%;
		min-width: 200px;
		border: 1px solid #ccc;
		background-color: #fff;
		padding: 20px;
		word-wrap: break-word;
		margin-bottom: 20px;

		h1 { color : #444; margin-bottom: 20px;}


		p {
		margin: 1em 0;
		word-wrap: break-word;
		}

		ol {
			margin-top: 10px;
		}

		li {
			margin-left: 20px;
		}

		a {
			color: #CD6375;
			text-decoration: none;
		}
	}

	@media (max-width: 500px) {
		#container {
			width: 100%;
		}
	}