
html {
	font-family: sans-serif;
	line-height: 1.2;
	font-size: 1vmax;
	padding: 10px 200px;
	background: #fffbf3;
	background: -moz-linear-gradient(-45deg, #fffbf3 0%, #fffdf7 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fffbf3), color-stop(100%,#fffdf7));
	background: -webkit-linear-gradient(-45deg, #fffbf3 0%,#fffdf7 100%);
	background: -o-linear-gradient(-45deg, #fffbf3 0%,#fffdf7 100%);
	background: -ms-linear-gradient(-45deg, #fffbf3 0%,#fffdf7 100%);
	background: linear-gradient(135deg, #fffbf3 0%,#fffdf7 100%);
	}

article {

}

#examples {
	margin: 0 1em;
	font-family: Georgia,Times New Roman, Times;

	h1 {
		color: #4A4A4A;
    font-family: sans-serif;
    text-transform: uppercase;
	}

	article {
		border: 1px solid #f1f1f1;
		padding: 0 15px 15px;
		margin-bottom: 10px;
		background-color: #fff;
	}
}

#example-1 {
	p {
		display: block;
		width: 30%;
	}	
}